/* Reset margins and padding for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set basic styles for body and HTML */
body, html {
    font-family: "Inter", sans-serif;
    background-color: #f3f5fc;
    height: 100%;
}

/* Container for the entire layout */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    padding: 1rem;
}

/* Left side: Text input area */
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 70%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
}