* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #f3f5fc;
    height: 100%;
}

/* Container for the entire layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    padding: 2.5rem;
}

/* Left side, logo */
.logo {
    flex: 1;
    max-width: 7.5rem;
}

.logo__image {
    width: 1.938rem;
    height: 3.125rem;
}

/* Center side: Text input area */
textarea {
    width: auto;
    height: 70%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: #0a3871;
}

.input {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.input__requirement {
   font-size: 0.75rem;
   color: #495057;
}

.input__warning {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.625rem;
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    max-width: 100%;
}

#encrypt, #decrypt, #copyText {
    width: 20.5rem;
    padding: 0.8rem;
    border-radius: 1.5rem;
    border: 0.063rem solid #0a3871;/* or add a custom border */
    background: transparent; /* or a custom background color */
    outline: none; /* ensure no outline */
    text-decoration: none; /* ensure no text decoration */
    margin: 0; /* or adjust as needed */
    font: inherit; /* inherits font style from parent */
    cursor: pointer; /* pointer cursor on hover */
}

/* Right side: Default image and Results */
.results {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 8%);
}

#defaultMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#defaultImage {
    width: 100%;
    height: auto;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .results {
        max-width: 100%;
    }

    #defaultImage {
        display: none;
    }

    .buttons {
        max-width: 100%;
        justify-content: center;
    }

}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
    }

    .results {
        max-width: 100%;
    }

    #defaultImage {
        display: none;
    }

    .buttons {
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
    }

}